<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gioi thieu - Lab14 Spring Security</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <h1>Gioi thieu</h1>
    <p>
        Project <b>lab14-spring-security</b> minh hoa muc 4.4 cua Chuong 4: tich hop
        Spring Security vao ung dung Spring Boot + Thymeleaf, gom authentication,
        authorization theo role va an/hien giao dien theo quyen nguoi dung.
    </p>
</div>
</body>
</html>
